// Wifi-Setup
#define DEFAULT_SSID      "ssid"      // Enter your network SSID
#define DEFAULT_PASSWORD  "pwd"       // Enter your network WPA key
#define DEFAULT_HOSTNAME  "tempsens"  // Enter your device friendly name
// Static IP
#define DEFAULT_IP         "192.168.0.90"
#define DEFAULT_GW         "192.168.0.1"
#define DEFAULT_SN         "255.255.255.0"

// MQTT-Setup
#define MQTT_SERVER       "server"    // Enter Hostname or IP of MQTT-Server
#define MQTT_PORT         "1883"
#define MQTT_USER         "user"      // Enter Username for MQTT Connection
#define MQTT_PASSWORD     "pwd"       // Enter Password for MQTT Connection

// MQTT-Topics
#define TEMP_TOPIC        "sensor/data/temperature"
#define HUM_TOPIC         "sensor/data/humidity"
#define BAT_TOPIC         "sensor/telemetry/battery"
#define TEL_TOPIC         "sensor/telemetry/status"

// Sensor
#define DHT_TYPE          DHT22
//#define HTU_TYPE          HTU21
#define SLEEP_TIME_S      15*60       // Time in Seconds in Deep-Sleep between readings

// ADC-Setup
#define VCC_ADJ           1.000       // Adjust Voltage output of ADC to measured Voltage

// Pin-Setup
// GPIO15 low, GPIO0 high, GPIO2 high: boot sketch from flash (external 10k pull resistors)
// GPIO16 must be connected to Reset for deep sleep
#define SENSOR_PWR        3           // Sensor Power
#define DHT_PIN           13          // Sensor Data
#define HTU_SDA           13          // Sensor SDA
#define HTU_SCL           14          // Sensor SCL

// Debugging
//#define                 DEBUG       // not working on ESP-01 as UART-Pins are already in use
