// Wifi-Setup
#define DEFAULT_SSID      "ssid"      // Enter your network SSID
#define DEFAULT_PASSWORD  "pwd"       // Enter your network WPA key
#define DEFAULT_HOSTNAME  "tempsens"  // Enter your device friendly name

// MQTT-Setup
#define MQTT_SERVER       "server"    // Enter Hostname or IP of MQTT-Server
#define MQTT_USER         "user"      // Enter Username for MQTT Connection
#define MQTT_PASSWORD     "pwd"       // Enter Password for MQTT Connection

// MQTT-Topics
#define TEMP_TOPIC        "sensor/data/temperature"
#define HUM_TOPIC         "sensor/data/humidity"
#define BAT_TOPIC         "sensor/telemetry/battery"
#define TEL_TOPIC         "sensor/telemetry/status"

// Sensor
#define SENSOR_TYPE DHT22 // DHT22 HTU21 BME280_SPI BME280_I2S
#define SLEEP_TIME_S      15*60       // Time in Seconds in Deep-Sleep between readings

// ADC-Setup
#define VCC_ADJ           1.000       // Adjust Voltage output of ADC to measured Voltage

// Pin-Setup
#define SENSOR_PWR        3           // Sensor Power

#define DHT_PIN           13          // Sensor Data

#define SDA_PIN           13          // SDA
#define SCL_PIN           14          // SCL

#define CS_PIN            4           // BME CS SPI   (Sensor Label CSB)
#define MOSI_PIN          13          // BME MOSI SPI (Sensor Label SDA)
#define MISO_PIN          12          // BME MISO SPI (Sensor Label SDO)
#define SCK_PIN           14          // BME SCK SPI  (Sensor Label SCL)

// GPIO15 low, GPIO0 high, GPIO2 high: boot sketch from flash (external 10k pull resistors)
// Flash: GPIO0 low
// GPIO16 must be connected to Reset for deep sleep

// Debugging
//#define DEBUG       // comment out on normal usage
                      // not working on ESP-01 as UART-Pins are already in use
